<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-toastyplugin" version="0.0.1">

    <name>ToastyPlugin</name>
    <description>RFID Reader Cordova plugin.</description>
    <license>MIT</license>

    <keywords>rfid,reader,cordova,android</keywords>
    <repo>https://github.com/alexandreogrodovski/cordova-plugin-rfidreader.git</repo>
    <issue>https://github.com/alexandreogrodovski/cordova-plugin-rfidreader/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <js-module src="www/rfidplugin.js" name="toastyPlugin">
        <clobbers target="window.plugins.toastyPlugin" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ToastyPlugin">
                <param name="android-package" value="itaipubinacional.cordova.plugin.RFIDReaderPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/RFIDReaderPlugin.java" target-dir="src/com/stanleyidesis/cordova/plugin" />
    </platform>
</plugin>
